<style type="text/css">
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
        unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
    }
    .body {
        width: 90%;
        margin: auto;
        font-family: 'Open Sans', 'Helvetica', sans-serif;
        font-size: 12px;
        color: #000000;
    }
    .content {
        padding: 20px;
    }
    .footer {
        color: rgb(70, 70, 70);
        font-style: italic;
    }
    .bold {
        font-weight: bold;
    }
    h1 {
        font-size: 14px;
        font-weight: bold;
    }
    table {
        white-space: nowrap;
    }
    td {
        padding-right: 5px;
        font-size: 12px;
        vertical-align: top;
        text-align: left;
    }
</style>

<div class="body">
    <h1>PYTIA Quick Export</h1>
    <hr>
    <br>
    <div class="content">
        <div>
            {% if condition == settings.condition.new.name %}
                A new item is requested.
            {% else %}
                A modification of an item is requested.
            {% endif %}
        </div>
        <table>
            {% if note != "" %}
            <tr>
                <td class="bold">Note</td>
                <td>{{ note }}</td>
            </tr>
            {% endif %}
            {% for datum in data %}
                {% if datum.value is not none and datum.value != "" %}
                <tr>
                    <td class="bold">{{ datum.name }}</td>
                    <td>{{ datum.value | replace("\n", "<br/>") }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    <br>
    <hr>
    <br>
    <div class="footer">
        This mail has been automatically sent by PYTIA Quick Export.
    </div>
</div>